# Video Games Sales Dataset Overview

## Basic Information
- **Dataset Name:** gamesdata.csv  
- **Total Rows:** 16,719  
- **Total Columns:** 16  

This dataset contains information about video games, their platforms, sales performance across different regions, and review scores from critics and users. It can be used to analyze sales patterns, rating influences, and genre trends across years.

---

## Columns Description

| Column Name | Description | Data Type | Example |
|--------------|-------------|------------|----------|
| **Name** | Title of the video game | Object | "Wii Sports" |
| **Platform** | Gaming console or system | Object | "Wii" |
| **Year_of_Release** | Release year of the game | Float | 2006.0 |
| **Genre** | Type of game | Object | "Sports" |
| **Publisher** | Company that published the game | Object | "Nintendo" |
| **NA_Sales** | Sales in North America (in millions) | Float | 41.36 |
| **EU_Sales** | Sales in Europe (in millions) | Float | 28.96 |
| **JP_Sales** | Sales in Japan (in millions) | Float | 3.77 |
| **Other_Sales** | Sales in other regions (in millions) | Float | 8.45 |
| **Global_Sales** | Total worldwide sales (in millions) | Float | 82.53 |
| **Critic_Score** | Average critic rating (0–100) | Float | 76.0 |
| **Critic_Count** | Number of critic reviews | Float | 51.0 |
| **User_Score** | Average user rating (0–10) | Object | "8.0" |
| **User_Count** | Number of user ratings | Float | 322.0 |
| **Developer** | Company that developed the game | Object | "Nintendo" |
| **Rating** | ESRB content rating (E, M, T, etc.) | Object | "E" |

---

## Notes
- Some columns contain **missing values**, especially review-related ones (Critic_Score, User_Score, Developer, Rating).  
- The dataset is well-suited for analysis of:
  - Global and regional sales performance  
  - Relationship between scores and sales  
  - Platform and genre popularity trends over time  

---

# Importing Data On Video Games

In [4]:
import pandas as pd

In [6]:

df = pd.read_csv("gamesdata.csv")
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

# Basic Information About The Data

In [7]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

# Checking Null Values

In [9]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64